# archivos a ignorar en repo
.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

# directorios a ignorar en repo
.ipynb_checkpoints/
__pycache__/

# extensiones a ignorar
# quitar comentatio para excluir
#*.csv
#*.json
#*.pkl
#*.rds

data/Input3_clientes_test.csv
data/Input2_clientes_venta.csv
data/Input1_clientes_estructura.csv
.gitignore
.vscode/settings.json
README.md
